In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LinearRegression
import pandas as pd
import tensorflow as tf

In [2]:
# Import and read data
sensory_df = pd.DataFrame(pd.read_excel("ADV_AllData.xlsx"))
sensory_df.head()

  Location  Denominator  Prevalence  Lower CI  Upper CI  Year Source
0       AZ      45322.0         6.5       5.8       7.3  2000   addm
1       GA      43593.0         6.5       5.8       7.3  2000   addm
2       MD      21532.0         5.5       4.6       6.6  2000   addm
3       NJ      29714.0         9.9       8.9      11.1  2000   addm
4       SC      24535.0         6.3       5.4       7.4  2000   addm

In [3]:
# Explore, visualize, preprocess data
sensory_df.dtypes

Location        object
Denominator    float64
Prevalence     float64
Lower CI       float64
Upper CI       float64
Year             int64
Source          object
dtype: object

In [4]:
sensory_df.count()

Location       1877
Denominator    1830
Prevalence     1869
Lower CI       1869
Upper CI       1869
Year           1877
Source         1877
dtype: int64

In [5]:
sensory_df.nunique()

Location         52
Denominator    1809
Prevalence      266
Lower CI        229
Upper CI        297
Year             20
Source            4
dtype: int64

In [6]:
sensory_df.isnull().sum()

Location        0
Denominator    47
Prevalence      8
Lower CI        8
Upper CI        8
Year            0
Source          0
dtype: int64

In [7]:
sensory_df = sensory_df.dropna()
sensory_df.head()

  Location  Denominator  Prevalence  Lower CI  Upper CI  Year Source
0       AZ      45322.0         6.5       5.8       7.3  2000   addm
1       GA      43593.0         6.5       5.8       7.3  2000   addm
2       MD      21532.0         5.5       4.6       6.6  2000   addm
3       NJ      29714.0         9.9       8.9      11.1  2000   addm
4       SC      24535.0         6.3       5.4       7.4  2000   addm