In [1]:
import pandas as pd

In [11]:
cols = ['FIPSST','TOTKIDS_R','AutismInd_1920','sex_1920','MEDB10ScrQ5_1920','nom17_3ASD_1920','BehavSev_1920',
        'DevDelSev_1920','LearnSev_1920','AutismSev_1920','cntdiff','autism_1920','mhealth_1920','DevDelay_1920']

df = pd.read_csv('data/2019-2020 NSCH_Topical_CAHMI_DRC.csv', usecols= cols)
df.nunique()

FIPSST              51
TOTKIDS_R            4
sex_1920             2
DevDelay_1920        5
autism_1920          5
BehavSev_1920        5
DevDelSev_1920       5
LearnSev_1920        5
AutismSev_1920       5
cntdiff             12
mhealth_1920         2
AutismInd_1920       5
MEDB10ScrQ5_1920     3
nom17_3ASD_1920      5
dtype: int64

In [34]:
df["state_total"] = df.groupby('FIPSST')['FIPSST'].transform('size')
df["state_aut_total"] = df.groupby(['FIPSST','AutismInd_1920'])['AutismInd_1920'].transform('count')
df["state_prev"] = df["state_aut_total"] / df['state_total'] * 100
# Added national values manually from the internet
df['overall %'] = 2.3
df['boys %'] = 3.7
df['girls %'] = 0.9
df

,FIPSST,TOTKIDS_R,sex_1920,DevDelay_1920,autism_1920,BehavSev_1920,DevDelSev_1920,LearnSev_1920,AutismSev_1920,cntdiff,mhealth_1920,AutismInd_1920,MEDB10ScrQ5_1920,nom17_3ASD_1920,state_total,state_aut_total,state_prev,overall %,boys %,girls %
0,1,2,1,1,1,1,1,1,1,0,2,1,2,3,1357,1166,85.924834,2.3,3.7,0.9
1,1,4,2,1,1,1,1,1,1,0,2,1,2,3,1357,1166,85.924834,2.3,3.7,0.9
2,1,3,1,1,1,1,1,1,1,0,2,1,2,3,1357,1166,85.924834,2.3,3.7,0.9
3,1,1,2,1,1,1,1,1,1,0,2,1,2,3,1357,1166,85.924834,2.3,3.7,0.9
4,1,1,2,1,1,1,1,1,1,0,2,1,2,3,1357,1166,85.924834,2.3,3.7,0.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72205,56,1,2,1,1,1,1,1,1,0,2,1,2,3,1319,1111,84.230478,2.3,3.7,0.9
72206,56,2,2,1,1,1,1,1,1,0,2,1,2,3,1319,1111,84.230478,2.3,3.7,0.9
72207,56,2,1,1,1,1,1,1,1,0,2,1,2,3,1319,1111,84.230478,2.3,3.7,0.9
72208,56,1,1,1,1,1,1,1,1,0,2,1,1,3,1319,1111,84.230478,2.3,3.7,0.9
72209,56,1,1,95,95,95,95,95,95,0,2,95,95,95,1319,177,13.419257,2.3,3.7,0.9

In [35]:
df.to_csv('data/subset_tableau.csv')