In [1]:
import pandas as pd

In [20]:
cols = ['FIPSST','TOTKIDS_R','AutismInd_1920','sex_1920','MEDB10ScrQ5_1920','nom17_3ASD_1920','BehavSev_1920',
        'DevDelSev_1920','LearnSev_1920','AutismSev_1920','cntdiff','autism_1920','mhealth_1920','DevDelay_1920']

df = pd.read_csv('data/2019-2020 NSCH_Topical_CAHMI_DRC.csv', usecols= cols)
df.head()

,FIPSST,TOTKIDS_R,sex_1920,DevDelay_1920,autism_1920,BehavSev_1920,DevDelSev_1920,LearnSev_1920,AutismSev_1920,cntdiff,mhealth_1920,AutismInd_1920,MEDB10ScrQ5_1920,nom17_3ASD_1920
0,1,2,1,1,1,1,1,1,1,0,2,1,2,3
1,1,4,2,1,1,1,1,1,1,0,2,1,2,3
2,1,3,1,1,1,1,1,1,1,0,2,1,2,3
3,1,1,2,1,1,1,1,1,1,0,2,1,2,3
4,1,1,2,1,1,1,1,1,1,0,2,1,2,3

In [21]:
df['FIPSST'].unique()

array([ 1,  2,  4,  5,  6,  8,  9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20,
       21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37,
       38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 53, 54, 55, 56],
      dtype=int64)

In [4]:
df = df[df['AutismInd_1920'] != 99]
df = df[df['AutismInd_1920'] != 2]
df = df[df['cntdiff'] != 99]

In [5]:
df.nunique()

FIPSST              51
TOTKIDS_R            4
sex_1920             2
DevDelay_1920        5
autism_1920          3
BehavSev_1920        5
DevDelSev_1920       5
LearnSev_1920        5
AutismSev_1920       5
cntdiff             11
mhealth_1920         2
AutismInd_1920       3
MEDB10ScrQ5_1920     3
nom17_3ASD_1920      3
dtype: int64

In [6]:
df.isnull().sum()

FIPSST              0
TOTKIDS_R           0
sex_1920            0
DevDelay_1920       0
autism_1920         0
BehavSev_1920       0
DevDelSev_1920      0
LearnSev_1920       0
AutismSev_1920      0
cntdiff             0
mhealth_1920        0
AutismInd_1920      0
MEDB10ScrQ5_1920    0
nom17_3ASD_1920     0
dtype: int64

In [7]:
df.to_csv('data/subset_tableau.csv', index= False )

In [8]:
def fix_fips(fips, total_length):
    """Takes a broken FIPS and repairs it"""
    fips = str(fips)
    current_length = len(fips)
    if current_length < total_length:
        number_of_leading_zeros = total_length - current_length
        leading_zeros = ''.join('0' * number_of_leading_zeros)
        fips = leading_zeros + fips
    return fips

In [11]:
df['FIPSST'] = df['FIPSST'].apply(fix_fips, args=(5,))