In [1]:
import pandas as pd

In [21]:
cols = ['AutismInd_1920','sex_1920','MEDB10ScrQ5_1920','nom17_3ASD_1920','BehavSev_1920',
        'DevDelSev_1920','LearnSev_1920','AutismSev_1920','cntdiff','autism_1920','mhealth_1920','DevDelay_1920']

df = pd.read_csv('data/2019-2020 NSCH_Topical_CAHMI_DRC.csv', usecols= cols)
df.head()

,sex_1920,DevDelay_1920,autism_1920,BehavSev_1920,DevDelSev_1920,LearnSev_1920,AutismSev_1920,cntdiff,mhealth_1920,AutismInd_1920,MEDB10ScrQ5_1920,nom17_3ASD_1920
0,1,1,1,1,1,1,1,0,2,1,2,3
1,2,1,1,1,1,1,1,0,2,1,2,3
2,1,1,1,1,1,1,1,0,2,1,2,3
3,2,1,1,1,1,1,1,0,2,1,2,3
4,2,1,1,1,1,1,1,0,2,1,2,3

In [23]:
df.nunique()

sex_1920             2
DevDelay_1920        5
autism_1920          5
BehavSev_1920        5
DevDelSev_1920       5
LearnSev_1920        5
AutismSev_1920       5
cntdiff             12
mhealth_1920         2
AutismInd_1920       5
MEDB10ScrQ5_1920     3
nom17_3ASD_1920      5
dtype: int64

In [24]:
df = df[df['AutismInd_1920'] != 99]
df = df[df['AutismInd_1920'] != 2]
df = df[df['cntdiff'] != 99]

In [27]:
df.nunique()

sex_1920             2
DevDelay_1920        5
autism_1920          3
BehavSev_1920        5
DevDelSev_1920       5
LearnSev_1920        5
AutismSev_1920       5
cntdiff             11
mhealth_1920         2
AutismInd_1920       3
MEDB10ScrQ5_1920     3
nom17_3ASD_1920      3
dtype: int64

In [28]:
df.isnull().sum()

sex_1920            0
DevDelay_1920       0
autism_1920         0
BehavSev_1920       0
DevDelSev_1920      0
LearnSev_1920       0
AutismSev_1920      0
cntdiff             0
mhealth_1920        0
AutismInd_1920      0
MEDB10ScrQ5_1920    0
nom17_3ASD_1920     0
dtype: int64

In [29]:
df.to_csv('data/subset_tableau.csv', index= False )

In [2]:
cols = ['FIPSST','TOTKIDS_R']
df1 = pd.read_csv('data/2019-2020 NSCH_Topical_CAHMI_DRC.csv', usecols= cols)
df1.head()

   FIPSST  STRATUM  FORMTYPE  TOTKIDS_R
0       1        1         3          2
1       1        1         1          4
2       1        1         3          3
3       1        1         3          1
4       1        1         1          1

In [3]:
df1.nunique()

FIPSST       51
STRATUM       2
FORMTYPE      3
TOTKIDS_R     4
dtype: int64

In [6]:
df1.isnull().sum()

FIPSST       0
STRATUM      0
FORMTYPE     0
TOTKIDS_R    0
dtype: int64